<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h1>Продукты</h1>
<table>
    <tr>
        <th>
            Наименование
        </th>
        <th>
            Цена
        </th>
    </tr>
    <tr th:each="p: ${products}">
        <td th:text="${p.name}"></td>
        <td th:text="${p.price}"></td>
    </tr>

    <h2>Добавление нового продукта:</h2>
<!--    <form action="/products" method="post">-->
<!--        Name: <input type="text" name="name"><br />-->
<!--        Price: <input type="number" step="any" name="price"><br />-->
<!--        <button type="submit">Add product</button>-->
<!--    </form>-->
    <form action="/products" method="post">
        Наименование: <input type="text" name="name"><br />
        Стоимость: <input type="number" step="any" name="price"><br/>
        <button type="submit">Добавить продукт</button>
    </form>
</table>
</body>
</html>